
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button>+ New</button>

            <button mat-button [matMenuTriggerFor]="view">View</button>
            <mat-menu #view="matMenu">
                <button mat-menu-item>View 1</button>
                <button mat-menu-item>View 2</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="timescale">Timescale: {{scale}}</button>
            <mat-menu #timescale="matMenu">
                <button mat-menu-item (click)='changeScale("Hours")'>Hours</button>
                <button mat-menu-item (click)='changeScale("Days")'>Days</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="action">Action</button>
            <mat-menu #action="matMenu">
                <button mat-menu-item>Action 1</button>
                <button mat-menu-item>Action 2</button>
            </mat-menu>

            <button mat-button>Fullscreen</button>

            <button mat-button [matMenuTriggerFor]="print">Print</button>
            <mat-menu #print="matMenu">
                <button mat-menu-item>Print All</button>
                <button mat-menu-item>Print sth</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

