div {
    margin-bottom: 5px;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    background: rgb(39, 218, 218);
}

ul a {
    color: #000507;
}

.topmenu > li {
    width: 180px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu > li:last-child {
    margin-right: 0;
}

a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu {
    display: none;
    background: #41cbd4;
}
ul li:hover .submenu {
    display: block;
}

.submenu li a {
    border-bottom: 1px solid rgb(2, 6, 20);
    color: white;
}

li {
    border-right: 1px solid rgb(1, 0, 5);
}
