<div>
    <mat-card class="card">    
        <table>
            <tr>
                <td class="button">
                    <button mat-button (click)="timeForward(false)">
                        <i class="material-icons">chevron_left</i>
                    </button>
                </td>
                <td align="left">
                    <p class="left">{{startDate | date: 'longDate' }}</p>
                </td>

                <td align="center">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="changeDate()" disabled>
                    <label>{{selectedDate | date: 'longDate' }}</label>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </td>
    
                <td align="right"><p>{{endDate | date: 'longDate' }}</p></td>
                <td class="button">
                    <button mat-button (click)="timeForward(true)">
                        <i class="material-icons">chevron_right</i>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card>
</div>