input {
    visibility: hidden;
    width: 0px;
}

table { 
    width: 100%;
}

.button {
    width: 4%;
}

.material-icons {
    font-size: 36px;
}

.card {
    width: 100%;
    height: 52px;
    padding: 0px;
}
