table, th, td {
    font-family: Arial;
}

table {
    white-space: nowrap;
    margin-top: 25px;
    background-color: #E8EAF6;
    color:rgba(0,0,0,.87);
    border-collapse: collapse;
}

thead {
    background-color: #8C9EFF;
    height: 200px;
}

td {
    width: 150px;
}

th{
    height: 47px;
}

tr {
    
    height: 25px;
}

tr:hover {
    background-color: #67a4ff;
}

.material-icons {
    font-size: 18px;
}

.svg {
    overflow-x:scroll;
    overflow-y:scroll;    
}

.grid-container {
    display: grid;
    grid-template-columns: auto 70%;
    padding: 0px;
}

.grid-item {
    box-sizing: border-box;
    text-align:center;
    padding: 0px;
}

.card {
    width: 100%;
    height: 52px;
    padding: 0px;
}


.filter {
  position: relative;
}


.filter i {
    position: absolute;
    left: 10px;
    top: 14px;
}

.filter button {
    position: absolute;
    right: 10px;
    top: 7.5px;
    height: 37px;
}

.filter input { 
    position: absolute;
    left: 40px;
    width: 300px;
    top: 15.5px;
}

.task {
    display: none;
}

.task.open {
    display: table-row;
}