
<div class="grid-container">
    <div class="grid-item">
        <div > 
            <mat-card class="card">
                <div class="filter">
                    <i class="material-icons">search</i>
                    <input matInput>
                    <button mat-button>Advanced Filter</button>
                </div>
            </mat-card>
        </div>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Task name</th>
                        <th>Complete</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of groupedTasks">
                    <tr>
                        <td></td>
                        <td class="resource" (click)="hideTasks($event)">
                            <i class="material-icons">expand_more</i> 
                            {{item.name}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="task open" *ngFor="let task of item.tasks">
                        <td>{{task.id}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.complete}} %</td>
                        <td>{{task.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{task.dueDate | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
            <button (click)="addandlog()">log</button>
        </div>
    </div>
        
    <div class="grid-item">
        <div >
            <custom-datepicker> </custom-datepicker>
        </div>

        <div class="svg">
            <timeline [groupedTasks]='groupedTasks' ></timeline>
        </div>
    </div>
</div>
